<?xml version="1.0" encoding="UTF-8"?>
<Context path="/InventarioLibros_MVC">
    <Resource name="jdbc/mysql" auth="Container" type="javax.sql.DataSource"
               maxActive="100" maxIdle="90" maxWait="500"
               username="root" password="" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost/inventario_libros"/>
</Context>
